fastapi
uvicorn[standard]
pydantic-settings
python-multipart
python-dotenv
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
argon2-cffi
authlib
httpx
itsdangerous
fastapi-mail
torch
torchvision
numpy==1.26.4
mediapipe==0.10.21
opencv-python
PyYAML
tqdm
pandas
typing-extensions>=4.12.0
indic_transliteration
fastdtw